/* Popup.css */

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001; /* Ensure the popup is above other content */
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .close-popup-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .close-popup-btn:hover {
    background-color: #c82333;
  }
  
  /* PlayerList.css */

.player-list {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.player-list h2 {
  margin-bottom: 20px;
}

ul {
  list-style-type: none; /* Remove default bullets */
  padding: 0;
}

.player-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.player-item:last-child {
  border-bottom: none; /* Remove border from the last item */
}

.open-popup-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.open-popup-btn:hover {
  background-color: #0056b3;
}
