
.progress-bar-container {
  width: 100%;
  background-color: #e0e0df;
  border-radius: 8px;
  overflow: hidden;
  position: relative;

}

.progress-bar {
  height: 24px;
  background-color: #76c7c0;
  color: white;
  text-align: center;
  line-height: 24px;
  font-weight: bold;
  transition: width 0.3s ease-in-out;

}

/* Container that holds the button */
.add_button {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;     /* Vertical centering */
  height: 100vh;           /* Full viewport height */
}

/* Style for the button */
.centered-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.centered-button:hover {
  background-color: #0056b3;
}
